.container{
    position: absolute;
    display:flex;
    /* top: 0%;
    left:35%;   */
    justify-content: 'center';
    align-items: 'center';
    flex-direction: column;
    display:block;
    height:100%;
    width:100%;
}

img[name ="logo"] {
    width: 80%;
}

form[name="loginForm"] {
    /* position:relative; */
    display: flex;
    flex-direction: column;
    /* width: 0%; */
    padding: 0px;
    align-content: center;
  }

  input[type="submit"] {
    align-self: flex-start;
    width: 100px;
    height: 50px;
    border: 3px solid lightgray;
    border-radius: 5px;
    font-size: 20px;
    background: white;
    
  }

  .inputButton{
      padding-top:20px;
      flex: 1;
      align-self: center;
      flex-direction: column;
      display: inline-block;
    }
  
  /* .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  } */
  
  label {
    min-width: 180px;
    width: 180px;
    font-weight: bold;
    font-size: 25px;
  }
  
  /* input[type="email"], input[type="password"] {
    box-sizing: border-box;
    height: 40px;
    padding: 3px;
    flex-grow: 1;
    font-size: 25px;
  } */
  

  
  .message {
    font-size: 15px;
    text-align: center;
    display: inline-block;
    color: #C62828;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }