#sensors_table_container #sensors_table {
    padding-top: 10px; }
    #sensors_table_container #sensors_table th {
      height: 30px;
      background-color: #4CAF50;
      color: white; }
    #sensors_table_container #sensors_table tr:nth-child(even) {
      background-color: #f2f2f2; }
    #sensors_table_container #sensors_table td {
      padding-left: 20px;
      padding-right: 20px; }
  