#sensors_table_container {
    #sensors_table {
      padding-top: 10px;
    
      th {
        height: 30px;
        background-color: #4CAF50;
        color: white;
      }
    
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    
      td {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }